@model BritishCab.Models.BookingEntity

@using (Html.BeginForm("FinalizeBooking", "Home",
	FormMethod.Post, new { @class = "booking-form" }))
{
	@Html.AntiForgeryToken()
	<div class="container">
		<div class="form-horizontal">
			<h2>Booking</h2>
			<hr />
			<div class="row">
				<div class="col-lg-5">
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					@Html.HiddenFor(model => model.BookingEntityId)
					@Html.HiddenFor(model => model.DriverActualDepartureTime)
					@Html.HiddenFor(model => model.PickUpDateTime)
					@Html.HiddenFor(model => model.PickUpLocation)
					@Html.HiddenFor(model => model.DropLocation)
					@Html.HiddenFor(model =>model.Price)
					@Html.HiddenFor(model => model.TransferTime)
					@Html.HiddenFor(model => model.TotalTime)

					<div class="form-group">
						@Html.LabelFor(model => model.PickUpLocation, htmlAttributes: new { @class = "control-label col-md-4" })
						<div class="col-md-6 display-string">
							@Html.DisplayFor(model => model.PickUpLocation, new { htmlAttributes = new { @class = "form-control", id = "start", required = "required" } })
							@Html.ValidationMessageFor(model => model.PickUpLocation, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.DropLocation, htmlAttributes: new { @class = "control-label col-md-4" })
						<div class="col-md-6 display-string">
							@Html.DisplayFor(model => model.DropLocation, new { htmlAttributes = new { @class = "form-control", id = "end", required = "required" } })
							@Html.ValidationMessageFor(model => model.DropLocation, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.PickUpDateTime, htmlAttributes: new { @class = "control-label col-md-4" })
						<div class="col-md-6 display-string">
							@Html.DisplayFor(model => model.PickUpDateTime, new { htmlAttributes = new { @class = "form-control", id = "datetimepicker", placeholder = "Choose pich up time", required = "required" } })
							@Html.ValidationMessageFor(model => model.PickUpDateTime, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.TransferTime, htmlAttributes: new { @class = "control-label col-md-4" })
						<div class="col-md-6 display-string">
							@Html.DisplayFor(model => model.TransferTime, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.TransferTime, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Price, htmlAttributes: new {@class = "control-label col-md-4"})
						<div class="col-md-6 display-string">
							@Html.DisplayFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new {@class = "control-label col-md-4"})
						<div class="col-md-6">
							@Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", required = "required" } })
							@Html.ValidationMessageFor(model => model.PhoneNumber, "", new {@class = "text-danger"})
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-4"})
						<div class="col-md-6">
							@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = "required" } })
							@Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.PickUpAddress, htmlAttributes: new {@class = "control-label col-md-4"})
						<div class="col-md-6">
							@Html.EditorFor(model => model.PickUpAddress, new { htmlAttributes = new { @class = "form-control", required = "required" } })
							@Html.ValidationMessageFor(model => model.PickUpAddress, "", new {@class = "text-danger"})
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.DropAddress, htmlAttributes: new {@class = "control-label col-md-4"})
						<div class="col-md-6">
							@Html.EditorFor(model => model.DropAddress, new {htmlAttributes = new {@class = "form-control"}})
							@Html.ValidationMessageFor(model => model.DropAddress, "", new {@class = "text-danger"})
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-4" })
						<div class="col-md-6">
							@Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<input type="submit" name="payLater" value="Pay Later" class="btn btn-default" />
						</div>
					</div>
				</div>
				<div class="col-lg-7 visible-lg">
					<div id="map"></div>
				</div>
			</div>
		</div>
	</div>
}

<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
<!-- ================ -->
<footer id="footer" class="clearfix dark">
	<!-- .footer start -->
	<!-- ================ -->
	<div class="footer">
		<div class="container">
			<div class="footer-inner">
				<div class="row">
					<div class="col-md-12">
						<div class="footer-content">
							@*<div class="logo-footer"><img id="logo-footer" src="~/Content/Images/logo_orange.png" alt=""></div>*@
							<div class="row">
								<div class="col-md-4">
									<p></p>
									@*<ul class="social-links circle animated-effect-1">

											<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
											<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>

											<li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>

											<li class="youtube"><a target="_blank" href="https://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
										</ul>*@
									<ul class="list-icons">
										<li><i class="fa fa-map-marker pr-10 text-default"></i> One infinity loop, 54100</li>
										<li><i class="fa fa-phone pr-10 text-default"></i> +00 1234567890</li>
										<li><a href="mailto:info@theproject.com"><i class="fa fa-envelope-o pr-10"></i>info@theproject.com</a></li>
									</ul>
								</div>
								<div class="col-md-8">
									<div class="background-custom">
										<div class="car-background">

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .footer end -->
</footer>
<!-- footer end -->