@model BritishCab.Models.BookingEntity
<div style="background-color: #696E6F">
@using (Html.BeginForm("FinalizeBooking", "Home",
	FormMethod.Post, new { @class = "booking-form" }))
{
	@Html.AntiForgeryToken()
	<div class="container">
		<div class="form-horizontal">
            <h3 class="title">Booking</h3>
            <div class="separator-2"></div>
			<div class="row">
				<div class="col-lg-5">
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					@Html.HiddenFor(model => model.BookingEntityId)
					@Html.HiddenFor(model => model.DriverActualDepartureTime)
					@Html.HiddenFor(model => model.PickUpDateTime)
					@Html.HiddenFor(model => model.PickUpLocation)
					@Html.HiddenFor(model => model.DropLocation)
					@Html.HiddenFor(model =>model.Price)
					@Html.HiddenFor(model => model.TransferTime)
					@Html.HiddenFor(model => model.TotalTime)

					<div class="form-group">
						@Html.LabelFor(model => model.PickUpLocation, htmlAttributes: new { @class = "control-label col-md-4" })
						<div class="col-md-6 display-string">
							@Html.DisplayFor(model => model.PickUpLocation, new { htmlAttributes = new { @class = "form-control", id = "start", required = "required" } })
							@Html.ValidationMessageFor(model => model.PickUpLocation, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.DropLocation, htmlAttributes: new { @class = "control-label col-md-4" })
						<div class="col-md-6 display-string">
							@Html.DisplayFor(model => model.DropLocation, new { htmlAttributes = new { @class = "form-control", id = "end", required = "required" } })
							@Html.ValidationMessageFor(model => model.DropLocation, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.PickUpDateTime, htmlAttributes: new { @class = "control-label col-md-4" })
						<div class="col-md-6 display-string">
							@Html.DisplayFor(model => model.PickUpDateTime, new { htmlAttributes = new { @class = "form-control", id = "datetimepicker", placeholder = "Choose pich up time", required = "required" } })
							@Html.ValidationMessageFor(model => model.PickUpDateTime, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.TransferTime, htmlAttributes: new { @class = "control-label col-md-4" })
						<div class="col-md-6 display-string">
							@Html.DisplayFor(model => model.TransferTime, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.TransferTime, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Price, htmlAttributes: new {@class = "control-label col-md-4"})
						<div class="col-md-6 display-string">
							@Html.DisplayFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new {@class = "control-label col-md-4"})
						<div class="col-md-6">
							@Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", required = "required" } })
							@Html.ValidationMessageFor(model => model.PhoneNumber, "", new {@class = "text-danger"})
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-4"})
						<div class="col-md-6">
							@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = "required" } })
							@Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.PickUpAddress, htmlAttributes: new {@class = "control-label col-md-4"})
						<div class="col-md-6">
							@Html.EditorFor(model => model.PickUpAddress, new { htmlAttributes = new { @class = "form-control", required = "required" } })
							@Html.ValidationMessageFor(model => model.PickUpAddress, "", new {@class = "text-danger"})
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.DropAddress, htmlAttributes: new {@class = "control-label col-md-4"})
						<div class="col-md-6">
							@Html.EditorFor(model => model.DropAddress, new {htmlAttributes = new {@class = "form-control"}})
							@Html.ValidationMessageFor(model => model.DropAddress, "", new {@class = "text-danger"})
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-4" })
						<div class="col-md-6">
							@Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
						</div>
					</div>

				    <div class="form-group">
				        <div class="col-md-offset-2 col-md-10">
				            <input type="submit" name="payLater" value="Pay Later" class="btn btn-default" />
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_xclick">
                                <input type="hidden" name="business" value="vitali@roshkani.com">
                                <input type="hidden" name="lc" value="BT">
                                <input type="hidden" name="item_name" value="Trip for: @Model.Name from: @Model.PickUpAddress to: @Model.DropLocation">
                                <input type="hidden" name="item_number" value="paypal">
                                <input type="hidden" name="amount" value="@Model.Price">
                                <input type="hidden" name="currency_code" value="GBP">
                                <input type="hidden" name="button_subtype" value="services">
                                <input type="hidden" name="no_note" value="0">
                                <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                                <input type="image" class="btn" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="paypal" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form>
				        </div>
				    </div>
                    
				</div>
				<div class="col-lg-7 visible-lg">
					<div id="map"></div>
				</div>
			</div>
		</div>
	</div>
}
</div>