<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BritishCab </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	<!-- Web Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

	<!-- Plugins -->
	<link href="~/Content/plugins/owl.carousel.css" rel="stylesheet">
	<link href="~/Content/plugins/owl.transitions.css" rel="stylesheet">
	<link href="~/Content/plugins/hover-min.css" rel="stylesheet">
	<script type="text/javascript" src="~/Content/plugins/owl.carousel.js"></script>

	<!-- the project core CSS file -->

	<!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
	<link href="~/Content/light_blue.css" rel="stylesheet">
	<!-- Custom css -->
	<link href="~/Content/custom.css" rel="stylesheet">
	<script>
	// Wait for window load
	$(window).load(function() {
	// Animate loader off screen
	$(".se-pre-con").fadeOut("slow");;
	});
	</script>
</head>
<body class="no-trans front-page transparent-header white-text ">
	<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
<div class="page-wrapper">
	<div class="header-container">
		<div class="header  fixed dark clearfix">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<!-- header-left start -->
						<!-- ================ -->
						<div class="header-left clearfix">
							<!-- logo -->
							<div>
								<a href="@Url.Action("Index", "Home")"><img id="logo_img" src="~/Content/Images/Car_logo2.png" alt="VIPDRIVING"></a>
							</div>
						</div>
						<!-- header-left end -->
					</div>
					@*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@

					<div class="col-md-9">
						<div class="header-right clearfix">
							<div class="main-navigation  animated with-dropdown-buttons">
								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">
										<!-- Toggle get grouped for better mobile display -->
										<div class="navbar-header">
											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>

										</div>
										<div class="collapse navbar-collapse" id="navbar-collapse-1">
											<ul class="nav navbar-nav navbar-right">
												<li>@Html.ActionLink("Home", "Index", "Home", new {@class = "white-text"})</li>
												<li>@Html.ActionLink("Services", "Services", "Home")</li>
												<li>@Html.ActionLink("Booking", "Booking", "Home")</li>
												<li>@Html.ActionLink("About", "About", "Home")</li>
												<li class="linkedin"><a target="_blank" href="http://www.linkedin.com/groups/8520500"><i class="fa fa-linkedin"></i></a></li>
												<li class="facebook"><a target="_blank" href="https://www.facebook.com/VIPdriving-1190191264332082/?fref=ts"><i class="fa fa-facebook"></i></a></li>
												@*<li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>*@
											</ul>
											@*@Html.Partial("_LoginPartial")*@
										</div>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	@*<div class="container body-content">*@
	@RenderBody()
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<!-- Initialization of Plugins -->
<script type="text/javascript" src="~/Scripts/template.js"></script>
</body>
<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
<!-- ================ -->
<footer id="footer" class="clearfix dark">
	<!-- .footer start -->
	<!-- ================ -->
	<div class="footer">
		<div class="container">
			<div class="footer-inner">
				<div class="row">
					<div class="col-md-12">
						<div class="footer-content">
							<div class="row">
								<div class="col-md-4">
									<p></p>
									<ul class="list-icons">
										<li><i class="fa fa-map-marker pr-10 text-default"></i> Bristol, BS2 9BY</li>
										<li><i class="fa fa-phone pr-10 text-default"></i> +44 117 318 0506</li>
										<li><i class="fa fa-mobile pr-10 text-default"></i> +44 790 010 1077</li>
										<li><a href="mailto:vipdriving@roshkani.com"><i class="fa fa-envelope-o pr-10"></i>vipdriving@roshkani.com</a></li>
									</ul>
								</div>
								<div class="col-md-8">
									<div class="background-custom">
										<div class="car-background">
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</footer>
</html>
