<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BritishCab </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	<!-- Web Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

	<!-- Plugins -->
	<link href="~/Content/plugins/owl.carousel.css" rel="stylesheet">
	<link href="~/Content/plugins/owl.transitions.css" rel="stylesheet">
	<link href="~/Content/plugins/hover-min.css" rel="stylesheet">
	<link href="~/Content/plugins/morphext.css" rel="stylesheet">
	<script type="text/javascript" src="~/Content/plugins/owl.carousel.js"></script>

	<!-- the project core CSS file -->

	<!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
	<link href="~/Content/light_blue.css" rel="stylesheet">
	<!-- Custom css -->
	<link href="~/Content/custom.css" rel="stylesheet">
	<script>
	// Wait for window load
	$(window).load(function() {
	// Animate loader off screen
	$(".se-pre-con").fadeOut("slow");;
	});
	</script>
</head>
<body class="no-trans front-page transparent-header white-text ">
<div class="page-wrapper">
	<div class="header-container">
		<div class="header  fixed dark clearfix">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<!-- header-left start -->
						<!-- ================ -->
						<div class="header-left clearfix">
							<!-- logo -->
							<div>
								<a href="@Url.Action("Index", "Home")"><img id="logo_img" src="~/Content/Images/Car_logo2.png" alt="The Project"></a>
							</div>
						</div>
						<!-- header-left end -->
					</div>
					@*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@

					<div class="col-md-9">
						<div class="header-right clearfix">
							<div class="main-navigation  animated with-dropdown-buttons">
								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">
										<!-- Toggle get grouped for better mobile display -->
										<div class="navbar-header">
											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>

										</div>
										<div class="collapse navbar-collapse" id="navbar-collapse-1">
											<ul class="nav navbar-nav navbar-right">
												<li>@Html.ActionLink("Home", "Index", "Home", new {@class = "white-text"})</li>
												<li>@Html.ActionLink("Services", "Services", "Home")</li>
												<li>@Html.ActionLink("Booking", "Booking", "Home")</li>
												<li>@Html.ActionLink("About", "About", "Home")</li>
												<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
												<li class="facebook"><a target="_blank" href="https://www.facebook.com/VIPdriving-1190191264332082/?fref=ts"><i class="fa fa-facebook"></i></a></li>
												@*<li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>*@
											</ul>
											@*@Html.Partial("_LoginPartial")*@
										</div>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	@*<div class="container body-content">*@
	@RenderBody()

	@*<!-- footer top start -->
			<!-- ================ -->
			<div class="dark-bg  default-hovered footer-top animated-text">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="call-to-action text-center">
								<div class="row">
									<div class="col-sm-8">
										<h2>Reservation Number: +123 123 1234 </h2>
										<h2>Call Us Now</h2>
									</div>
									<div class="col-sm-4">
										<p class="mt-10"><a href="tel:+1231231234" class="btn btn-animated btn-lg btn-gray-transparent ">Call Us<i class="fa fa-phone pl-20"></i></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- footer top end -->*@

	@*<footer>
				<p>&copy; @DateTime.Now.Year - British Cab</p>
			</footer>*@

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<!-- Initialization of Plugins -->
<script type="text/javascript" src="~/Scripts/template.js"></script>
</body>
<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
<!-- ================ -->
<footer id="footer" class="clearfix dark">
	<!-- .footer start -->
	<!-- ================ -->
	<div class="footer">
		<div class="container">
			<div class="footer-inner">
				<div class="row">
					<div class="col-md-12">
						<div class="footer-content">
							@*<div class="logo-footer"><img id="logo-footer" src="~/Content/Images/logo_orange.png" alt=""></div>*@
							<div class="row">
								<div class="col-md-4">
									<p></p>
									@*<ul class="social-links circle animated-effect-1">

											<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
											<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>

											<li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>

											<li class="youtube"><a target="_blank" href="https://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
										</ul>*@
									<ul class="list-icons">
										<li><i class="fa fa-map-marker pr-10 text-default"></i> Bristol, BS2 9BY</li>
										<li><i class="fa fa-phone pr-10 text-default"></i> +44 117 318 0506</li>
										<li><a href="mailto:info@theproject.com"><i class="fa fa-envelope-o pr-10"></i>info@theproject.com</a></li>
									</ul>
								</div>
								<div class="col-md-8">
									<div class="background-custom">
										<div class="car-background">
											@*<div class="pull-right">
																							@using (Html.BeginForm("Index", "Home", FormMethod.Post))
																							{
																								@Html.AntiForgeryToken()
																								@Html.ValidationSummary(true)
																								@Html.HiddenFor(model => model.BookingEntityId)

												<script type="text/javascript">
												var options = {
													types: ['(cities)'],
													componentRestrictions: { country: "uk" }
												};

												google.maps.event.addDomListener(window, 'load', function () {
													var places = new google.maps.places.Autocomplete(document.getElementById('pickUpLocation'), options);
													google.maps.event.addListener(places, 'place_changed', function () {
														var place = places.getPlace();
														var address = place.formatted_address;
														var latitude = place.geometry.location.lat();
														var longitude = place.geometry.location.lng();
														//var mesg = "Address: " + address;
														//mesg += "\nLatitude: " + latitude;
														//mesg += "\nLongitude: " + longitude;
														//alert(mesg);
													});
												});
												google.maps.event.addDomListener(window, 'load', function () {
													var places2 = new google.maps.places.Autocomplete(document.getElementById('dropLocation'), options);
												});
												</script>

																								if (ViewBag.Error != null)
																								{
																									<div class="alert alert-warning">@ViewBag.Error</div>
																								}
																								<table class="table table-striped table-hover">

																									<tr>
																										@Html.TextBoxFor(model => model.PickUpLocation, new { @class = "form-control", id = "pickUpLocation", placeholder = "From A", required = "required" })
																									</tr>
																									<tr>
																										@Html.TextBoxFor(model => model.DropLocation, new { @class = "form-control", id = "dropLocation", placeholder = "To B", required = "required" })
																									</tr>
																									<tr>
																										@Html.TextBoxFor(model => model.PickUpDateTime, new { @class = "form-control", id = "datetimepicker", placeholder = "Choose pich up time", required = "required" })
																									</tr>
																									<tr class="tp-caption sfb fadeout small_white">
																											<button type="submit" class="btn btn-animated btn-lg btn-gray-transparent get-quote">Get a quote</button>
																									</tr>
																								</table>

																							}
																						</div>*@
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					@*<div class="col-md-4">
							<div class="footer-content">
								<h2 class="title">Contact Us</h2>
								<br>
								<div class="alert alert-success hidden" id="MessageSent2">
									We have received your message, we will contact you very soon.
								</div>
								<div class="alert alert-danger hidden" id="MessageNotSent2">
									Oops! Something went wrong please refresh the page and try again.
								</div>
								<form role="form" id="footer-form" class="margin-clear">
									<div class="form-group has-feedback">
										<label class="sr-only" for="name2">Name</label>
										<input type="text" class="form-control" id="name2" placeholder="Name" name="name2">
										<i class="fa fa-user form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label class="sr-only" for="email2">Email address</label>
										<input type="email" class="form-control" id="email2" placeholder="Enter email" name="email2">
										<i class="fa fa-envelope form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label class="sr-only" for="message2">Message</label>
										<textarea class="form-control" rows="6" id="message2" placeholder="Message" name="message2"></textarea>
										<i class="fa fa-pencil form-control-feedback"></i>
									</div>
									<input type="submit" value="Send" class="margin-clear submit-button btn btn-default">
								</form>
							</div>
						</div>*@
				</div>
			</div>
		</div>
	</div>
	@*<!-- .footer end -->
		<!-- .subfooter start -->
		<!-- ================ -->
		<div class="subfooter">
			<div class="container">
				<div class="subfooter-inner">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center">Copyright © 2015 The Project by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a>. All Rights Reserved</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .subfooter end -->*@
</footer>
</html>
